
body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff
}

a:active {
  color: #dfdddd
}

a:hover {
  color: #b8b8b8
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 10px;
}

